:root {
    --primaryFontFamily: 'Segoe UI', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--primaryFontFamily);
}

.bar-of-progress {
    z-index: 50;
}

body {
  color: var(--text);
}

body > div {
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.t-selected::selection {
    background-color: var(--red);
    color: #fff;
}
