html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.bar-of-progress {
    z-index: 50;
}

body {
  color: var(--text);
}

body > div {
    height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.t-selected::selection {
    background-color: var(--red);
    color: #fff;
}
