.layout {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.header {
    grid-area: header;
    position: relative;
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
    border-bottom: 1px solid var(--themePrimary);
}

.content {
    grid-area: content;
}

.logo {
    margin-right: 1rem;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
